.waypoint {
  $margin: 5px;
  $height: 40px;
  margin-right: 2px; //from scroll

  margin-top: $margin;
  margin-bottom: $margin;
  height: $height;

  border: 1px solid black;
  border-left-width: 0px;
  display: flex;

  p {
    margin: 0;
  }

  button {
    padding: 0;
  }

  &__label {
    line-height: $height;
    flex: 1;
    text-align: center;
  }

  &__block {
    height: $height;
    width: 1rem;
  }

  &__actions {
    display: flex;
    padding: 1px;
  }
}