body {
  margin: 0;
  overflow: hidden;
  max-height: 100vh;
  max-width: 100vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.layout {
  .map-container {
    flex: 1;
  }

  .sidebar-container {
    height: 100vh;
    width: 350px;
    background-color: white;
  }
}


.error-screen {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(orange, 0.2);
  display: flex;

  .error-bar {
    width: 100%;
    margin: auto;
    padding: 2rem;

    background: rgba(red, 0.5);

    color: white;
  }
}

.loader {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10px;
  z-index: 1001;
}