body {
    margin: 0;
    overflow: hidden;
    max-height: 100vh;
    max-width: 100vw;
}

.layout {

    .map-container {
        flex: 1;
    }

    .sidebar-container {
        width: 350px;
        padding: 5px;
    }
}