body {
    margin: 0;
    overflow: hidden;
    max-height: 100vh;
    max-width: 100vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.layout {

    .map-container {
        flex: 1;
    }

    .sidebar-container {
        width: 350px;
        padding: 5px;
        background-color: white;

    }
}